html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #383838;
    /* Remove overflow-y: hidden to allow scrolling */
    overflow-y: auto; /* Allow scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn-warning {
    background-color: #ffd558;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.btn-warning:hover {
    background-color: #ffbf00;
}

textarea {
    background-color: #d6d6d6;
}
