html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #383838;
    /* Remove overflow-y: hidden to allow scrolling */
    overflow-y: auto; /* Allow scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn-warning {
    background-color: #ffd558;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.btn-warning:hover {
    background-color: #ffbf00;
}

/* Custom gold styling for buttons */
.btn-gold {
    background-color: #ffd558;
    color: 383838;
    border: none;
}

.btn-gold:hover {
    background-color: #e0a900;
}

/* Default button styles */
.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-primary {
    background-color: #007bff; /* Default blue color */
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Styling for text area */
textarea {
    background-color: #d6d6d6;
}
