{% extends "base.html" %}
{% block content %}
<div class="container mt-4 text-center position-absolute top-50 start-50 translate-middle row justify-content-center">
    <form method="post">
        <div class="col-12 col-md-6 mb-4 text-start">
            <h1 style="color: White; font-size: 6rem;">Sign Up</h1>
            <p style="color: #d6d6d6; font-size: 2rem;">Welcome to APE Trading!</p>
        </div>
        <div class="col-12 col-md-6 mb-3 text-start">
            <input type="text" class="form-control form-control-lg" style="width: 350px;" name="username" placeholder="Username" required>
        </div>
        <div class="col-12 col-md-6 mb-3 text-start">
            <input type="password" class="form-control form-control-lg" style="width: 350px;" name="password" placeholder="Password" required>
            <div id="passwordHelp" class="form-text mt-2">
                <p style="font-size: 1rem; color: #ffbf00;">We will not disclose sensitive information</p>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3 text-start">
            <input type="password" class="form-control form-control-lg" style="width: 350px;" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        <div class="col-12 col-md-6 mt-4 text-start">
            <button type="submit" class="btn btn-lg btn-warning" style="font-size: 1.5rem; color: white;">Sign Up</button>
        </div>
        <div class="col-12 col-md-6 text-start" style="margin-top: 50px;">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" height="65px" viewBox="0 -960 960 960" width="65px" fill="#e3e3e3">
                  <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
                </svg>
            </a>
        </div>
    </form>
</div>

{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}
